*{
    box-sizing: border-box;
}

body{
    font-family:Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.container{
    display: flex;
    width: 90vh;
}
.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 1;
    margin: 10px;    
    position: relative;
    transition: all 700ms ease-in;
}
.panel h3{
    font-size: 1rem;
    position: absolute;
    bottom: 25px;
    left: 20px;
    margin: 0;
    opacity: 0;
}
.panel.active{
    flex: 5;
}
.panel.active h3{
    opacity: 1;
    transition: 0.3s ease-in 0.4s;
    /* font-size: 0.8rem; */
}

@media (max-width: 480px) {
    .container{
        width: 100vh;
    }
}
@media (max-width: 240px) {
    .container{
        width: 100vh;
    }
}
